<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="MergerOutputFile" fileName="logs/mergerOutput.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="ssfsj" level="trace" additivity="true">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="MyFile" />
        </Logger>
        <Logger name="ssfsj.bolts.merger.MergerAGBolt" level="warn" additivity="false">
            <AppenderRef ref="MergerOutputFile"/>
        </Logger>
        <Logger name="org.apache.storm" level="ON"/>
        <Logger name="org.apache.zookeeper" level="ON"/>

        <Root level="error">
            <Appender-Ref ref="STDOUT"/>
            <!--<AppenderRef ref="MyFile" level="trace" />-->
        </Root>
    </Loggers>
</Configuration>